<?xml version="1.0" encoding="UTF-8"?>
<Configuration strict="true" name="spring-lab-XMLLoggerConfig" monitorInterval="10" status="WARN">

    <Properties>
        <Property name="log-path">spring-lab-Logs</Property>
        <Property name="log-project-name">spring-lab-Log</Property>
        <Property name="log-pattern">%d{ISO8601} %-5p [Sample][%t|%c{1}] %L %M %m\n</Property>
        <Property name="rollover-strategy-max">10</Property>
        <Property name="rolling-size-based">1 kB</Property>
        <Property name="rolling-time-based">6</Property>
        <Property name="modulate-time">true</Property>
        <Property name="rootLevel">debug</Property>
    </Properties>

    <Appenders>
        <Appender type="Console" name="ROOT_CONSOLE">
            <Layout type="PatternLayout" pattern="${log-pattern}"/>
        </Appender>

        <Appender type="RollingFile" name="DEBUG_ROLLING"
                  fileName="${log-path}/${log-project-name}DEBUG_ROLLING.log"
                  filePattern="${log-path}/debug-${log-project-name}-%d-%i.log.zip" append="true"
                  immediateFlush="true">
            <Layout type="PatternLayout" pattern="${log-pattern}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="${rolling-size-based}"/>
                <TimeBasedTriggeringPolicy interval="${rolling-time-based}"
                                           modulate="${modulate-time}"/>
            </Policies>
            <DefaultRolloverStrategy>"${rollover-strategy-max}"</DefaultRolloverStrategy>
            <DefaultRolloverStrategy max="${rollover-strategy-max}"/>
        </Appender>


        <Appender type="RollingFile" name="ERROR_ROLLING"
                  fileName="${log-path}/${log-project-name}-ERROR.log"
                  filePattern="${log-path}/debug-${log-project-name}-%d-%i.log.zip" append="true"
                  immediateFlush="true">
            <Layout type="PatternLayout" pattern="${log-pattern}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="${rolling-size-based}"/>
                <TimeBasedTriggeringPolicy interval="${rolling-time-based}"
                                           modulate="${modulate-time}"/>
            </Policies>
            <DefaultRolloverStrategy max="${rollover-strategy-max}"/>
        </Appender>

        <Appender type="RollingFile" name="INFO_ROLLING"
                  fileName="${log-path}/${log-project-name}-INFO.log"
                  filePattern="${log-path}/INFO-${log-project-name}-%d-%i.log.zip" append="true"
                  immediateFlush="true">
            <Layout type="PatternLayout" pattern="${log-pattern}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="${rolling-size-based}"/>
                <TimeBasedTriggeringPolicy interval="${rolling-time-based}"
                                           modulate="${modulate-time}"/>
            </Policies>
            <DefaultRolloverStrategy max="${rollover-strategy-max}"/>
        </Appender>

        <Appender type="RollingFile" name="FATAL_ROLLING"
                  fileName="${log-path}/${log-project-name}-FATAL.log"
                  filePattern="${log-path}/FATAL-${log-project-name}-%d-%i.log.zip" append="true"
                  immediateFlush="true">
            <Layout type="PatternLayout" pattern="${log-pattern}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="${rolling-size-based}"/>
                <TimeBasedTriggeringPolicy interval="${rolling-time-based}"
                                           modulate="${modulate-time}"/>
            </Policies>
            <DefaultRolloverStrategy max="${rollover-strategy-max}"/>
        </Appender>

    </Appenders>

    <Loggers>
        <Root level="warn">
            <!--<Root level="trace">-->
            <AppenderRef ref="ROOT_CONSOLE" level="${rootLevel}"/>
            <AppenderRef ref="DEBUG_ROLLING" level="DEBUG"/>
            <AppenderRef ref="ERROR_ROLLING" level="ERROR"/>
            <AppenderRef ref="INFO_ROLLING" level="INFO"/>
        </Root>
    </Loggers>
</Configuration>
