<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!--<servlet>-->
        <!--<servlet-name>controller</servlet-name>-->
        <!--<servlet-class>Controller</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>controller</servlet-name>-->
        <!--<url-pattern>/shop</url-pattern>-->
    <!--</servlet-mapping>-->
    
    <servlet>
        <servlet-name>shoppingBasket</servlet-name>
        <jsp-file>/jsp/shoppingBasket.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>shoppingBasket</servlet-name>
        <url-pattern>/shopping_basket</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SignIn</servlet-name>
        <jsp-file>/jsp/SignIn.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignIn</servlet-name>
        <url-pattern>/sign_in</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SignUp</servlet-name>
        <jsp-file>/jsp/SignUp.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/sign_up</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PriceList</servlet-name>
        <jsp-file>/jsp/PriceList.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>PriceList</servlet-name>
        <url-pattern>/price_list</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PriceListWithoutLog</servlet-name>
        <jsp-file>/jsp/PriceListWithoutLog.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>PriceListWithoutLog</servlet-name>
        <url-pattern>/price_without_log</url-pattern>
    </servlet-mapping>
</web-app>

